body{
    background: linear-gradient(to right, #E5F9E8,#AFF0B8) no-repeat;
    font-family: system-ui;
}

.content{
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu h3{
    background-color: #78e382;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
}

.banner{
    display: flex;
    flex-direction: row;
}


.image{
    position: relative;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: auto;
}

.description{
    position: absolute;
    left: 2rem;
}

.description h1, .description h4 {
    background-color: #78e382;
    width: fit-content;
}

.image img{
    height: 100%;
    width: 100%;
}

.prices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: auto;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #78e382;
    text-align: center;
    height: 48%;
    top: 0;
    margin-top: 0;
}

.price h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}


.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    margin-top: 1rem;
    width: 24%;
    min-width: 200px;
    max-height: 200px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.product img{
    max-height: 35%;
    width: auto;
}

.specified-product{
    width: 100%;
    height: 300px;
    background-color: #FFF;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-product{
    width: 27%;
}

.image-product img{
    width: 100%;
    margin-left: 3rem;
}

.description-product{
    margin-left: 8rem;
}

.description-product button{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #78e382;
    border-color: #16F22B;
}

.description-product button:hover{
    background-color: #17BC27;
    cursor: pointer;
}

.element-divisor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element-left, .element-right{
    width: 43%;
    height: 5px;
}

.element-left{
    background: linear-gradient(to right,#E5F9E8, #16F22B) no-repeat;
}

.element-right{
    background: linear-gradient(to left,#AFF0B8, #16F22B) no-repeat;
}

.element-center{
    width: 14%;
    text-align: center;
}

.all-images{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: stretch;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 2rem;
}


.item-image{
    background-color: #FFF;
    max-height: 150px;
}

.item-image img{
    width: 100%;
    height: 100%;
}

@media (max-width: 560px) {
    .banner{
        flex-wrap: wrap;
    }

    .image{
        margin-right: 0;
        width: 100%;
    }

    .prices{
        margin-top: 1rem;
        width: 100%;
    }

    .all-images{
        grid-template-columns: repeat(2, 2fr);
    }

}
